/*
 Theme Name:   Twenty Twenty-One Child
 Theme URI:    https://diviextended.com/
 Description:  A child theme of Twenty Twenty-One WordPress theme.
 Author:       Elicus Technologies
 Author URI:   https://elicus.com
 Template:     twentytwentyone
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url("../twentytwentyone/style.css");

header.site-header {
    padding: 25px 0;
}

header.site-header .site-branding {
    margin-left: auto;
    margin-right: auto;
}

header.site-header .primary-navigation {
    margin-left: auto;
    margin-right: auto;
}

.gform_heading {
    margin-bottom: 50px;
}

.gfield.gsection {
    border-top: 1px solid #cccccc;
    margin-top: 50px;
    padding-top: 50px;
}

.gfield.gfield--width-half {
    grid-column: span 12!important;
}

.no-max-height .gfield_description {
    max-height: unset!important;
    margin-bottom: 25px;
}

footer.site-footer {
    display: none;
}